loki:
  enabled: true
  persistence:
    enabled: false

promtail:
  enabled: true
  extraScrapeConfigs: |
    - job_name: kubernetes-pods-mon-app
      kubernetes_sd_configs:
      - role: pod
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_app]
          action: keep
          regex: mon-app
        - source_labels: [__meta_kubernetes_namespace]
          action: keep
          regex: monitoring-demo
        - source_labels: [__meta_kubernetes_namespace]
          target_label: namespace
        - source_labels: [__meta_kubernetes_pod_name]
          target_label: pod
        - source_labels: [__meta_kubernetes_pod_label_app]
          target_label: app

