apiVersion: v1
kind: Service
metadata:
  name: mon-app
  namespace: monitoring-demo
  labels:
    app: mon-app
spec:
  ports:
    - name: http
      port: 80
      targetPort: 8080
  selector:
    app: mon-app

